.table{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    border-collapse:collapse;
}
.table th{
    border-bottom: 2px solid #ddd;
    border-left: 1px solid #ddd;
}


.table td{
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    text-align: center;
}
.table tbody tr:nth-child(odd){
    background: #f9f9f9;

}
.loading{
    top: 70px;
    font-size: 30px;
}
.table-info{
    position: absolute;
    top: 45px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}